@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
  font-family: Outfit;
}

@theme {
  --font-size-home-heading-large: 48px;
  --line-height-home-heading-large: 56px;
}